/*
  Global
*/

* {
  /* font-size: 100%; */
  font-family: Arial;
 }

body {
  background: #fafafa;
  color: #333;
  /* font-family: "Nunito"; */
  font-family: Arial, Helvetica, sans-serif
}

a {
  color: #333;
  text-decoration: none;
}
.fpContent {
  max-width: 960px;
  margin: 0 auto;
}

.fpBtnCenter {
  display: block;
  width: 110px;
  padding: 8px 0;
  margin: 10px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.fpBtn {
  display: block;
  width: 110px;
  padding: 8px 0;
  margin: 10px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}




/* 
  Nav
*/
nav {
  /* margin: 10px auto 10px; */
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding: 5px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .fpLogo {
  margin-right: auto;
  display: flex;
  align-items: flex-start;
}

.fpSplash {
  margin: 80px auto 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fpVersion small{
  font-size: x-small;
}

.fpNot-found {
  text-align: center;
}
.fpNot-found a{
  color: #4979ff;
  text-decoration: underline;
}


/* 

Order

*/

.fpSingle {
  padding: 2px 16px;
  background: #fff;
  /* display: block; */
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
  border-left: 8px solid #fff;
}

.fpSingle:hover {
  border-left: 8px solid #4979ff;
}

.fpForm {
  border-style: solid;
  border-color:lightgray;
  border-width: 2px;
  border-radius: 5px;
  max-width: 90%; 
  /* max-width: 300px; */
  margin: 10px;
  padding: 5px;
}


.fpForm fieldset {
  opacity: .45;
  border-style:none;
}

.fpFormList {
  border-style: solid;
  border-color:lightgray;
  border-width: 2px;
  border-radius: 5px;
  max-width: 90%; 
  /* max-width: 300px; */
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;  
  padding: 5px;
}
.fpFromField {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 3px;
  
}


.fpFromField input {
  border-style: solid;
  border-color:lightgray;
  border-width: 2px;
  border-radius: 5px;
  min-height: 34px;
  max-width: 400px;
  margin: 2px;
  font-size: 14px
}

.fpFromField textarea {
  border-style: solid;
  border-color:lightgray;
  border-width: 2px;
  border-radius: 5px;
  min-height: 34px;
  max-width: 700px;
  margin: 2px;
  font-size: 14px
}

.fpInputReadOnly  {
  border-style: none;
}

.fpDate input {
  max-width: 135px;
}

.fpFormTitle {
  display: flex;
  flex-direction: column;
}
.fpFormTitle span {
  font-size: small;
  font-style: italic;
  font-weight: lighter;
}

/* card */
.fpPageNavTop {
  margin-top: 2px;
  margin-right: auto;
  margin-bottom: 2px;
  margin-left: auto;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  border-bottom: 1px solid #ddd;
}
.fpPageNavBottom {
  margin-top: 2px;
  margin-right: auto;
  margin-bottom: 2px;
  margin-left: auto;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  border-top: 1px solid #ddd;
}

.fpCard {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 2px;
  background-color:white;
  border-style: solid;
  border-color:lightgray;
  border-width: 2px;
  border-radius: 5px;  
}

.fpCard span {
  margin: 3px;
  
}
.fpCard label {
  opacity: .75;
  font-size: 12px;
  margin: 1px;
}

.fpCard small {
  opacity: .75;
  font-size: 12px;
  margin: 1px;
}

.fpCard strong {
  text-decoration: double underline;
  font-weight: normal;
}

.fpCard image {
  object-fit: contain;
  width: 200px !important;
  position: relative !important;
  height: unset !important;
  max-width: 100px;
}

.fpCard hr {
  border-top: 1px solid rgba(247, 246, 246, 0.249);
  margin: 3px;
}

.fpCard p {
  margin: 1px;
}

.fpCard h4 {
  margin: 5px;
}
.fpCard:hover {
  border-left: 5px solid #4979ff;
}

.fpBar {
  margin-top: 2px;
  margin-right: auto;
  margin-bottom: 2px;
  margin-left: 15px;
  padding: 5px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  /* border-bottom: 1px solid #ddd; */
}

.expandCollapse {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
  padding: 2px;
  

}