/*
  Global
*/

/* Extra-light 200 -  font-family: 'Montserrat', sans-serif; */
/* @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap);  */

/* Roboto Serif - font-family: 'Roboto Serif', sans-serif; */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap); 
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');

* {
  /* font-size: 100%; */
  /* font-family: Arial; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Roboto Serif', sans-serif;
 }

body {
  background: #fafafa;
  color: #333;
  /* font-family: "Nunito"; */
  font-family: Arial, Helvetica, sans-serif
}

a {
  color: #333;
  text-decoration: none;
}

h1 {
  margin:auto;
}
h2 {
  margin:auto;
}

.fpA {
  text-decoration-style: solid;
  text-decoration-color:#e9cbcb;
  text-decoration:solid;
  text-decoration:underline;
  
}

.fpContent {
  max-width: 960px;
  margin: 0 auto;
}

.fpBtnCenter {
  display: block;
  width: 100px;
  padding: 8px 0;
  margin: 10px auto;
  background: #e9cbcb;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.fpBtn {
  display: block;
  width: 100px;
  padding: 8px 0;
  margin: 10px auto;
  background: #e9cbcb;
  border-radius: 4px;
  color: white;
  text-align: center;
  border: none;
  color:black;
  font-size: 14px;
}




/* 
  Nav
*/
nav {
  /* margin: 10px auto 10px; */
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  padding: 5px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .fpLogo {
  margin-right: auto;
  display: flex;
  align-items: center;
}

nav h1 {
  font-family:
}
.fpSplash {
  margin: 80px auto 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fpVersion small{
  font-size: x-small;
}

.fpNot-found {
  text-align: center;
}
.fpNot-found a{
  color: #4979ff;
  text-decoration: underline;
}


/* 

Order

*/

.fpSingle {
  padding: 2px 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}

.fpSingle:hover {
  border-left: 3px solid #4979ff;
}

.fpSingleNoHover {
  padding: 2px 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
} 


.fpForm {
  border-style: solid;
  border-color:lightgray;
  background-color: rgba(245, 233, 243, 0.5);
  border-width: 2px;
  border-radius: 5px;
  max-width: 90%; 
  /* max-width: 300px; */
  margin: 10px;
  padding: 5px;
}

.fpForm p {
  margin: 20px;
  padding: 3px;
}


.fpFormList {
  border-style: solid;
  border-color:lightgray;
  border-width: 2px;
  border-radius: 5px;
  max-width: 90%; 
  /* max-width: 300px; */
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;  
  padding: 5px;
}
.fpFromField {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 3px;
  
}


.fpFromField input {
  border-style: solid;
  border-color:lightgray;
  border-width: 2px;
  border-radius: 5px;
  min-height: 34px;
  max-width: 400px;
  margin: 2px;
  font-size: 14px
}

.fpFromField select {
  border-style: solid;
  border-color:lightgray;
  border-width: 2px;
  border-radius: 5px;
  min-height: 34px;
  max-width: 400px;
  margin: 2px;
  font-size: 14px
}

.fpFromField textarea {
  border-style: solid;
  border-color:lightgray;
  border-width: 2px;
  border-radius: 5px;
  min-height: 34px;
  max-width: 700px;
  margin: 2px;
  font-size: 14px
}

.fpInputReadOnly  {
  border-style: none;
}

.fpDate input {
  max-width: 150px;
}

.fpFormTitle {
  display: flex;
  flex-direction: column;
}
.fpFormTitle span {
  /* font-size: small; */
  /* font-style: italic; */
  font-weight: lighter;
}

/* card */
.fpPageNav {
  max-width: 95%;
  margin: 3px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.fpNavAtTop {
  border-bottom: 1px solid #ddd;
}

.fpNavAtBottom {
  border-top: 1px solid #ddd;
}

/* 

Order List 

*/
.fpOrderList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
  padding: 2px;
  background-color:white;
  border-style: solid;
  border-color:lightgray;
  border-width: 2px;
  border-radius: 5px;  
}

/* 

card

*/
.fpCard {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 2px;
  background-color:white;
  border-style: solid;
  border-color:lightgray;
  border-width: 2px;
  border-radius: 5px;  
}

.fpCardTall {
  display: block;
}

.fpCard span {
  margin: 3px;
  
}
.fpCard label {
  font-size: 12px;
  margin: 1px;
}

.fpCard small {
  font-size: 12px;
  margin: 1px;
}

.fpCard strong {
  text-decoration: double underline;
  font-weight: normal;
}

.fpCard image {
  object-fit: contain;
  width: 200px !important;
  position: relative !important;
  height: unset !important;
  max-width: 100px;
}

.fpCard hr {
  border-top: 1px solid rgba(247, 246, 246, 0.249);
  margin: 3px;
}

.fpCard p {
  margin: 1px;
}

.fpCard h4 {
  margin: 5px;
}
.fpCard:hover {
  border-left: 3px solid #4979ff;
}
/* 

text card

*/
.fpTextMsgCard {
  display: flex;
  width: 85%;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: center;
  margin: 20px;
  padding: 3px;
}

.fpTextMsgCard input {
  border-style: solid;
  border-color:lightgray;
  border-width: 2px;
  border-radius: 5px;
  min-height: 34px;
  width: 550px;
  margin: 2px;
  font-size: 14px
}


/* 

bar

*/
.fpBar {
  margin-top: 2px;
  margin-right: auto;
  margin-bottom: 2px;
  margin-left: 15px;
  padding: 5px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  /* border-bottom: 1px solid #ddd; */
}

.expandCollapse {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
  padding: 2px;
  

}

/* 
  Search 
*/

.searchInput {
  background-image: url('/searchicon.png'); 
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 200px;
  font-size: 14px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  /* margin-bottom: 12px; Add some space below the input */
}