.orderForm {
  border-style: solid;
  border-color:lightgray;
  border-width: 2px;
  border-radius: 5px;
  max-width: 80%; 
  margin-top: 10px;
  padding: 5px;
}
.field {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 3px;
  
}

.field label {
  opacity: .75;
  font-size: 12px;
  margin: 2px;
}

.field input {
  border-style: solid;
  border-color:lightgray;
  border-width: 2px;
  border-radius: 5px;
  min-height: 34px;
  max-width: 400px;
  margin: 2px;
  font-size: 14px
}

.field textarea {
  border-style: solid;
  border-color:lightgray;
  border-width: 2px;
  border-radius: 5px;
  min-height: 34px;
  max-width: 400px;
  margin: 2px;
  font-size: 14px
}

.date input {
  max-width: 135px;
}

.orderTitle {
  display: flex;
  flex-direction: column;
}
.orderTitle span {
  font-size: small;
  font-style: italic;
  font-weight: lighter;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 5px;
  color: white;
  text-align: center;
}

/* order detail */

.card {
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  margin: 20px;
  padding: 5px;
  background-color:white;
  border-style: solid;
  border-color:lightgray;
  border-width: 2px;
  border-radius: 5px;  
}
.card label {
  opacity: .75;
  font-size: 12px;
  margin: 1px;
}

.card strong {
  text-decoration: double underline;
  font-weight: normal;
}

.card image {
  object-fit: contain;
  width: 200px !important;
  position: relative !important;
  height: unset !important;
  max-width: 100px;
}

.card:hover {
  border-left: 5px solid #4979ff;
}

