.single {
  padding: 2px 16px;
  background: #fff;
  /* display: block; */
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
  border-left: 8px solid #fff;
}

.single:hover {
  border-left: 8px solid #4979ff;
}

